node_modules/
.gitignore
.elasticbeanstalk/
.vscode/

# Elastic Beanstalk Files

.elasticbeanstalk/*
.elasticbeanstalk/**

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

