node_modules/
.gitignore
.elasticbeanstalk/
.vscode/
.vscode/launch.json
.vscode
launch.json
/.vscode/
/ .vscode/

# Elastic Beanstalk Files

.elasticbeanstalk/*
.elasticbeanstalk/**

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

