{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Michael D Sharp.com API",
    "license": {
      "name": ""
    }
  },
  "host": "api.michaeldsharp.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json", 
    "text/html"
  ],
  "paths": {
      "/projects": {
          "get" : {
              "summary": "list all projects",
              "operationId": "listProjects", 
              "tags": ["projects"]
          }
      },
      "/projects/{projectId}": {
         "get" : {
              "summary": "retrieve a single project by id",
              "operationId": "getProjectById", 
              "tags": ["projects"], 
              "parameters": [{
                "name": "projectId", 
                "in": "path", 
                "required": true, 
                "description": "the identifier for the project to retrieve", 
                "type": "string"
              }]
          }
      }, 
      "/contact" : {
        "post": {
          "summary": "send mike an email from michaeldsharp.com", 
          "operationId": "sendUserMessage", 
          "tags": ["contact"], 
          "parameters": [{
            "in": "formData", 
            "name": "name", 
            "type": "string"
          }, 
          {
            "in": "formData", 
            "name": "body", 
            "type": "string"
          }, 
          {
            "in": "formData", 
            "name": "from", 
            "type": "string"
          }]
        }
      }
  },
  "definitions": {

  }
}